.vertical-align {
  display: flex;
  align-items: center;
}

.navbar-default {
  background: #72A6B2; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, right top, from(#72A6B2), to(#1F779F)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  border-bottom: 1px solid white;
}

.navbar-header .brand {
  padding: 13px 15px;
  line-height: 0;
  margin-left: 0;
}

.navbar-header .brand .logo {
  background: transparent url("../img/dcron-logo-white.png") 0 0 no-repeat;
  display: block;
  width: 179px;
  height: 59px;
}


.navbar-header .main-links li,
.navbar-header .main-links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    width: 4px;
    height: 23px;
    padding-right: 15px;
}

#jumbotron-mask {
  color: #FFF;
  height: 542px;
  margin-top: -93px;

  background: #72A6B2; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, right top, from(#72A6B2), to(#1F779F)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */
}

#jumbotron .container h2 {
  margin-top: 175px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1px;
  margin-left: 40px;
}

#jumbotron .container .jumbo-logo {
  width: 318px;
  height: 316px;
  background: transparent url("../img/dcron-jumbo-logo-white.png") 60px 50px no-repeat;
  /* background-size: 318px 316px; */
  z-index: 20;
}

#jumbotron .container .jumbo-logo-wrap {
  margin-top: 135px;
}

.page-home {
  background: #F9FAFA;
}

.page-home .jumbotron.intro {
  color: #6B93BA;
}
