html {
  font-size:100%; // please
}

body {
  padding-top:90px;
  background-color: #eee;
}

section[role="main"] {
  background:#F9FAFA;
  padding:2em 0;
}

a {
  color: $color-link;
}

h1[id]:before, 
h2[id]:before, 
h3[id]:before, 
h4[id]:before, 
h5[id]:before, 
h6[id]:before {
  content: "";
  display: block;
  margin-top: -115px;
  height: 115px;
  pointer-events: none;
}
