{{ partial "gheader.html" . }}
<div id="jumbotron-mask">
  <div id="jumbotron">
    <div class="container">
      <div class="text-wrapper col-md-5">
        <h2>Easy, Reliable Cron jobs</h2>
        <h3>A distributed Cron service with, API, no SPOF and an easy to use dashboard.</h3>
        <a href="https://github.com/distribworks/dkron/releases" class="button button">Download</a>
        <a href="/products/pro/" class="button button">Go Pro</a>
      </div>
      <div class="dkron-logo"><img src="../img/job-list.png"></div>
    </div>
  </div>
</div>

<blockquote>
  <div class="container">
    <p>Dkron is a system service for workload automation that runs scheduled jobs, just like the cron unix service
      but distributed in several machines in a cluster. Dkron is the only job scheduler in the market with truly no SPOF.
      It is Open Source and freely available.</p>
  </div>
</blockquote>

<div class="home-wrapper">
  <div class="container">
    <div class="class-md-12 main-content">
      <div class="container">
        <h2>Characteristics</h2>
        <div id="features" class="row vertical-align">
          <div class="col-md-4">
            <img src="img/integration.png" />
            <h3>Easy integration</h3>
            <p>Dkron is easy to setup and use. Choose your OS package and it's ready to run out-of-the-box. The
              administration panel and it's simple JSON API makes a breeze to integrate with you current workflow or
              deploy system.</p>
          </div>
        
          <div class="col-md-4">
            <img src="img/available.png" />
            <h3>Always available</h3>
            <p>Using the power of the Raft protocol, Dkron is designed to be always available. If the cluster leader
              node fails, a follower will replace it, all without human intervention.</p>
          </div>

          <div class="col-md-4">
            <img src="img/targets.png" />
            <h3>Flexible targets</h3>
            <p>Simple but powerful tag-based target node selection for jobs. Tag node count allows to run jobs in an
              arbitrary number of nodes in the same group or groups.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="use-cases-mask">
  <div class="use-cases container">
    <h2>Example use cases</h2>

    <div class="case-container">
      <div class="case">
        <img src="img/email-delivery.png" />
        <span>Email delivery</span>
      </div>
      <div class="case">
        <img src="img/payroll-generation.png" />
        <span>Payroll generation</span>
      </div>
      <div class="case">
        <img src="img/book-keeping.png" />
        <span>Bookkeeping</span>
      </div>
      <div class="case">
        <img src="img/data-consolidation.png" />
        <span>Data consolidation for BI</span>
      </div>
      <div class="case">
        <img src="img/recurring-invoicing.png" />
        <span>Recurring invoicing</span>
      </div>
      <div class="case">
        <img src="img/data-transfer.png" />
        <span>Data transfer</span>
      </div>
    </div>
  </div>
</div>

<div id="products" class="container">
  <div class="comparison-chart">
    <div class="row">
      <table class="table products-table">
        <thead>
          <tr>
            <th></th>
            <th>
              <h3><i class="fa fa-github fa-lg"></i><a href="https://github.com/distribworks/dkron/" target="_new">OSS</a></h3>
            </th>
            <th>
              <h3><a href="/products/pro/">Pro</a></h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="key">Audience</td>
            <td>Hobbyists</td>
            <td>Business</td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/plugins/executors/" | relURL}}">Executor plugins</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/plugins/processors/" | relURL}}">Processor plugins</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key"><a href="{{"basics/#web-ui" | relURL}}">Web UI</a></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/api/" | relURL}}">Rest API</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/retries/" | relURL}}">Job retries</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/chaining/" | relURL}}">Job chaining</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/concurrency/" | relURL}}">Concurrency control</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/metrics/" | relURL}}">Metrics</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"usage/storage/" | relURL}}">Embedded storage engine</a>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/executors/docker/" | relURL}}">Docker executor</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/executors/ecs/" | relURL}}">AWS ECS executor</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/processors/elasticsearch/" | relURL}}">Elasticsearch processor</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/processors/email/" | relURL}}">Advanced Email processor</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/processors/slack/" | relURL}}">Slack processor</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/encryption/" | relURL}}">Encryption</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/auth/" | relURL}}">Web UI Authentication</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/auth/" | relURL}}">API Authentication</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/acls/" | relURL}}">Access Control</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">
              <a href="{{"pro/failover/" | relURL}}">Cross region failover</a>
            </td>
            <td><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
            <td><span class="glyphicon glyphicon-ok-sign text-success"></span></td>
          </tr>
          <tr>
            <td class="key">Dedicated Support</td>
            <td>None</td>
            <td>Email</td>
          </tr>
          <tr>
            <td class="key">License</td>
            <td>LGPL</td>
            <td>Commercial<br>
              <small>No Custom Terms</small>
            </td>
          </tr>
          <tr>
            <td class="key">Pricing</td>
            <td>Free</td>
            <td>$750 / year<br>
              <small>Unlimited Usage</small>
            </td>
          </tr>
          <tr>
            <td class="key">Purchasing</td>
            <td>n/a</td>
            <td>Credit Card</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>
              <a href="/basics" target="_new" style="width: 100%" class="btn btn-default btn-sm">Get Started  <span
                  class="glyphicon glyphicon-new-window"></span></a>
              <div class="invisible-block"></div>
            </th>
            <th>
              <a href="/products/pro/" class="btn btn-default btn-sm">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
              <script src="https://gumroad.com/js/gumroad.js"></script>
              <a class="gumroad-button" href="https://gum.co/dkron-pro" target="_blank" style="height: 35px; line-height: 30px !important;">Buy</a>
            </th>
          </tr>
        </tfoot>
      </table>
      <div class="spacer"></div>
      <p class="money-back text-center">
        All sales come with a two week, 100% money back guarantee.
      </p>
      <p class="money-back text-center">
        Looking to embed Dkron in your virtual server or appliance?<br>
        <a href="/pro/commercial-faq">Read the Commercial FAQ</a>.
      </p>
    </div>
  </div>
  <div class="spacer-md"></div>
</div>

{{ partial "gfooter.html" . }}
