---
version: '2'
services:
  dkron:
    build: .
    ports:
      - "8080:8080"
      - "8946"
      - "6868"
    environment:
      - GODEBUG=netdns=go
    command: dkron agent --server --log-level=debug --bootstrap-expect=1
  dkron-server:
    build: .
    ports:
      - "8080"
      - "8946"
      - "6868"
    environment:
      - GODEBUG=netdns=go
    command: dkron agent --server --retry-join=dkron:8946 --log-level=debug --bootstrap-expect=3
  dkron-agent:
    build: .
    ports:
      - "8946"
      - "6868"
    environment:
      - GODEBUG=netdns=go
    command: dkron agent --retry-join=dkron:8946 --log-level=debug
