---
dkron:
  links:
    - dkron_seed
  ports:
    - "8080"
  build: .
  volumes:
    - ./:/gopath/src/github.com/victorcoder/dkron
  environment:
    - GODEBUG=netdns=go
    - DKRON_BACKEND_MACHINE=etcd:4001
  command: go run main.go agent -server -backend=etcd -backend-machine=etcd:4001 -join=dkron_seed:8946 -log-level=debug

dkron_seed:
  links:
    - etcd
  ports:
    - "8080"
  build: .
  volumes:
    - ./:/gopath/src/github.com/victorcoder/dkron
  environment:
    - GODEBUG=netdns=go
  command: go run main.go agent -server -backend=etcd -backend-machine=etcd:4001 -join=dkron:8946 -log-level=debug

etcd:
  image: microbox/etcd
  ports:
    - "4001"
  volumes:
    - ./etcd.data:/data
  command: -name=dcron1
