
aside.toc {

  .affix {
    //position:static;
  }

  .well {
    padding:0;

    li {
      //text-align: center;
    }

  }
}

/*
@media (min-width:$viewport-xlarge) {
  aside.toc {

    .affix {
      position:fixed;
    }

    .well {
      li {
        text-align:right;
      }
    }
  }
}
*/