aside.toc {
  .well {
    padding:0;

    li {
      text-align: center;
    }

  }
}

@media (min-width:$viewport-medium) {
  aside.toc {
    .well {
      li {
        text-align:right;
      }
    }
  }
}