footer[role="contentinfo"] {
  font-size:.6em;
  font-weight:bold;
  text-transform: uppercase;
  color:lighten(#000,90%);
  padding-bottom:2em;

  .footer-logo {
    margin:2em auto;
    text-align: center;
  }

  p {
    margin:0;
    text-align: center;
  }

}