.navbar-default {

  // want a gradient also in the navbar
  @include gradient-dcron;

  .navbar-header {
    .brand {
      padding: 1em;
      line-height: 0;
      margin-left: 0;

      .logo {
        background: transparent url("../img/dcron-logo-white.png") 0 0 no-repeat;
        background-size:100%;
        display: block;
        width: 100px;
        height: 50px;
        overflow:hidden;
        text-indent:-999em;
        transition: all .2s;
      }
    }
  }

  .navbar-collapse {
    border:0;
  }

  .navbar-nav > li {

    padding:1em;

    li {
      padding:0;
    }

    &.open {
      .dropdown-menu {

        padding:.5em 0;
        margin:1em 0;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;

        & > li > a {
          padding:0;
        }
      }
    }

    a {
      padding:0;
      line-height: 1em;
      font-family:$font-headlines;
      font-size:.9em!important;
      text-transform:uppercase;

      &:hover {
        background:none;
      }
    }
  } 

  .navbar-nav a {
    background:none!important;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background:none;
    position:relative;
  }
}

@media (min-width:$viewport-medium) {

  .navbar-default {
    .container > .navbar-header {
      margin-right:4em;
    }

    .container > .navbar-collapse {
        margin-top:1.8em;
    }

    .navbar-nav.navbar-right:last-child {
      margin-right:0;
    }

    .navbar-header {
      .brand {
        .logo {
          width: 100px;
          height: 50px;
        }
      }

      .navbar-nav > .active > a,
      .navbar-nav > .active > a:hover,
      .navbar-nav > .active > a:focus {
        &:before {
          content:"";
          display:block;
          height:2px;
          background:#fff;
          width:50%;
          position:absolute;
          bottom:-.7em;
        }
      }

    }
  }


  .navbar-nav.main-links > li {

    border-left:1px solid #fff;
    padding:0;
    padding-left:1em;
    margin:.5em;
    
    &:first-child {
      border:none;
    }

    &.open .dropdown-menu {


      border:none;
      background-color:$color-base-dark;

      & > li {

        display:block;

        & > a {
          padding:.5em;
        }
      }
    }

  } 

  .navbar-nav.navbar-right > li {
    padding:.5em;
  }

}

