  body {
    padding-top:65px;
  }

.page-home {
  blockquote {
    text-align:center;
    border:none;
    font-family: $font-headlines;
    color:lighten($color-base,15);
    margin:1.5em auto;

    p {
      font-size:1em;
      line-height:1.5em;
    }

    .main-content {
      h2 {
        text-align: center;
        color:$color-light;
      }
    }

  }

  .with-toc {

    .main-content {

      h1 {
        margin-top:.2em;
      }

      h2 {
        text-align: left;
        margin-top:2em;
        margin-bottom:1em;
        font-size:1.6em;
        color:lighten(#000, 30%);
      }

      h3 {
        font-size:1.4em;
        margin-bottom:.8em;
        color:lighten(#000,30%);
        margin-top:1.5em;
      }

      pre {
        margin:2em 0;
      }
    }
  }
}


@media (min-width:$viewport-large) {

  body {
    padding-top:75px;
  }

  .page-home {
    blockquote {
      background:#fff;
      margin:4em 0;
      p {
        font-size:1.5em;
      }
    }
  }

  .with-toc {
    section[role="main"] {
      background:#fff;
    }

    /*
    aside.toc {
      .affix {
        width:200px;
        font-size:1em;

        li {
          a {
            padding:.5em;
          }

          &.active {
            a {
              color:#000;
            }
          }
        }
      }
    }
    */
  
  }
}

@media (min-width:$viewport-large) {
    .with-toc {

    div.main-content {
      //@include span(9 of 12);
      //@include push(3 of 12);
      //@include last;
    }
      /*
      aside.toc {
        .affix {
          width:250px;
        }
      }
      */
    }
}
