/* base components */
/** Font vars **/
/* Boostrap shitty breakpoints */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300);
html {
  font-size: 100%;
}

body {
  padding-top: 90px;
  background-color: #eee;
}

section[role=main] {
  background: #F9FAFA;
  padding: 2em 0;
}

a {
  color: #fc505e;
}

h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before {
  content: "";
  display: block;
  margin-top: -115px;
  height: 115px;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

.status-success {
  color: #2cbe4e;
}

.status-danger {
  color: #cb2431;
}

.status-running {
  color: #20a5a8;
}

.status-warning {
  color: #dbab09;
}

.status-disabled {
  color: #777;
}

ul.status li strong {
  font-size: 1.5em;
  color: #9d9d9d;
}

/* First level of nav */
.bs-sidebar.well {
  padding: 0;
}

.bs-sidebar.affix {
  position: static;
}

.bs-sidenav {
  margin-top: 1em;
  padding: 1em 0;
  font-size: 0.9em;
  line-height: 1em;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  padding: 5px 20px;
  z-index: 1;
  margin-bottom: 0.7em;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 1px solid;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}

.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }

  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
.bs-sidebar.affix-bottom {
    width: 213px;
  }

  .bs-sidebar.affix {
    position: fixed;
    /* Undo the static from mobile first approach */
    top: 110px;
  }

  .bs-sidebar.affix-bottom {
    position: absolute;
    /* Undo the static from mobile first approach */
  }

  .bs-sidebar.affix-bottom .bs-sidenav,
.bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
.bs-sidebar.affix {
    width: 263px;
  }
}
.navbar-default {
  background-color: #333;
  margin-bottom: 20px;
}
.navbar-default .navbar-header .brand {
  margin: 3px;
  line-height: 0;
  margin-left: 5px;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.navbar-default .navbar-header .brand a {
  color: #FFF;
  text-decoration: none;
}
.navbar-default .navbar-header .brand img {
  margin-top: 7px;
  margin-bottom: 13px;
  height: 45px;
}
.navbar-default .navbar-collapse {
  border: 0;
}
.navbar-default .navbar-nav > li {
  padding: 1em;
}
.navbar-default .navbar-nav > li li {
  padding: 0;
}
.navbar-default .navbar-nav > li.open .dropdown-menu {
  padding: 0.5em 0;
  margin: 1em 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.navbar-default .navbar-nav > li.open .dropdown-menu > li > a {
  padding: 0;
}
.navbar-default .navbar-nav > li a {
  color: #FFF;
  padding: 0;
  line-height: 1em;
  font-size: 0.9em !important;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li a:hover {
  color: #9d9d9d;
  background: none;
}
.navbar-default .navbar-nav a {
  background: none !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  position: relative;
}

@media (min-width: 768px) {
  .navbar-default .container > .navbar-header {
    margin-right: 4em;
  }
  .navbar-default .container > .navbar-collapse {
    margin-top: 1.5em;
  }
  .navbar-default .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  .navbar-default .navbar-header .navbar-nav > .active > a:before,
.navbar-default .navbar-header .navbar-nav > .active > a:hover:before,
.navbar-default .navbar-header .navbar-nav > .active > a:focus:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    width: 50%;
    position: absolute;
    bottom: -0.7em;
  }

  .navbar-nav.main-links > li {
    border-left: 1px solid #fff;
    padding: 0;
    padding-left: 1em;
    margin: 0.5em;
  }
  .navbar-nav.main-links > li:first-child {
    border: none;
  }
  .navbar-nav.main-links > li.open .dropdown-menu {
    border: none;
    background-color: #333;
  }
  .navbar-nav.main-links > li.open .dropdown-menu > li {
    display: block;
  }
  .navbar-nav.main-links > li.open .dropdown-menu > li > a {
    padding: 0.5em;
  }

  .navbar-nav.navbar-right > li {
    padding: 0.5em;
  }
}
.button {
  display: inline-block;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
  background: "transparent";
  padding: 0.7em 1.2em;
  transition: all 0.2s;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.button-light {
  display: inline-block;
  color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  background: #fff;
  padding: 0.7em 1.2em;
  transition: all 0.2s;
}
.button-light:hover {
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
}

.tooltip-inner {
  text-align: left;
  max-width: 450px;
  white-space: nowrap;
}

footer[role=contentinfo] {
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  color: #540b63;
  padding-bottom: 2em;
}
footer[role=contentinfo] .footer-logo {
  margin: 2em auto;
  text-align: center;
}
footer[role=contentinfo] p {
  margin: 0;
  text-align: center;
}

.navbar-fixed-bottom {
  background-color: #333;
}

.page-home blockquote {
  text-align: center;
  border: none;
  font-family: "Montserrat", "Open-Sans", Sans-serif;
  color: #262626;
  margin: 1.5em auto;
}
.page-home blockquote p {
  font-size: 1.5em;
  line-height: 1.5em;
}
.page-home blockquote .main-content h2 {
  text-align: center;
  color: #737374;
}
.page-home footer hr {
  margin-top: 0;
  background: none;
  border: none;
}
.page-home .main-content {
  text-align: center;
  padding: 3em 0;
}
.page-home .main-content h2 {
  text-align: center;
  padding: 1em 0;
  color: #999999;
  position: relative;
}
.page-home .main-content h2:before {
  position: absolute;
  border: 3px solid #000000;
  width: 10%;
  left: 50%;
  margin-left: -5%;
  content: "";
  display: block;
  bottom: 0;
}
.page-home .main-content img {
  margin: 1em 0;
}
.page-home .main-content h3 {
  color: #000000;
}
.page-home .main-content p {
  color: #999999;
}
.page-home .main-content .vertical-align {
  margin-bottom: 4em;
}
.page-home #users-mask {
  color: #fff;
  background-color: #333;
  padding: 3em 0;
  text-align: center;
}
.page-home #users-mask .users {
  padding-bottom: 20px;
}
.page-home #use-cases-mask {
  background: #fd505d;
  /* Old browsers */
  background: linear-gradient(to top right, #fd505d 0%, #9c43fc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#90a6b2", endColorstr="#6ca4b2",GradientType=1 );
  /* IE6-9 */
  padding: 3em 0;
  color: #fff;
  text-align: center;
}
.page-home #use-cases-mask h2 {
  color: #fff;
  margin: 0 0 1em 0;
}
.page-home #use-cases-mask span {
  display: block;
  margin-top: 1.5em;
  font-size: 0.9em;
}
.page-home #use-cases-mask .container {
  text-align: center;
}
.page-home #use-cases-mask .case-container {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 320px;
}
.page-home #use-cases-mask .case {
  margin-bottom: 1em;
  float: left;
  display: block;
  margin: 1em;
  width: 120px;
}
.page-home #products {
  width: 100%;
  margin: 0 auto;
}
.page-home #products .comparison-chart {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px 20px;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #999999;
}
.page-home #products .comparison-chart .products-table {
  font-size: 0.9em;
  color: #999999;
}
.page-home #products .comparison-chart .products-table .btn {
  border-radius: 6px;
}

.content {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .page-home #use-cases-mask .case-container {
    width: 480px;
  }
  .page-home #use-cases-mask .case:nth-child(4) {
    clear: left;
  }
  .page-home .main-content {
    text-align: center;
  }
  .page-home .vertical-align h3 {
    margin-top: 0em;
  }
  .page-home .vertical-align img {
    margin: 0em;
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .page-home blockquote {
    background: #eee;
    margin: 4em 0;
  }
  .page-home blockquote p {
    font-size: 1.5em;
  }
  .page-home .home-wrapper {
    background: #f7f7f7;
  }
  .page-home #use-cases-mask .case-container {
    width: 1000px;
  }
  .page-home #use-cases-mask .case:nth-child(4) {
    clear: none;
  }
}
#jumbotron-mask {
  margin-top: -20px;
  background: #000000;
  background: #fd505d;
  /* Old browsers */
  background: linear-gradient(to top right, #fd505d 0%, #9c43fc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#90a6b2", endColorstr="#6ca4b2",GradientType=1 );
  /* IE6-9 */
}
#jumbotron-mask h2 {
  color: #FFF;
}
#jumbotron-mask #jumbotron .container {
  padding-top: 4em;
  padding-bottom: 2em;
  transition: all 0.2s;
}
#jumbotron-mask #jumbotron .container .text-wrapper {
  text-align: center;
}
#jumbotron-mask #jumbotron .container .text-wrapper a {
  margin: 2em 0.5em 0 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat", "Open-Sans", Sans-serif;
}
#jumbotron-mask #jumbotron .container h2 {
  text-align: center;
}
#jumbotron-mask #jumbotron .container .dkron-logo {
  display: none;
}

@media (min-width: 992px) {
  #jumbotron-mask #jumbotron .container {
    padding-bottom: 5em;
  }
  #jumbotron-mask #jumbotron .container .text-wrapper {
    text-align: left;
  }
  #jumbotron-mask #jumbotron .container .text-wrapper h2 {
    text-align: left;
    line-height: 1.2em;
    font-size: 2em;
  }
  #jumbotron-mask #jumbotron .container .dkron-logo {
    margin-top: 1.7em;
    display: block;
    height: 200px;
  }
  #jumbotron-mask #jumbotron .container .dkron-logo img {
    width: auto;
    height: 200px;
  }
}

/*# sourceMappingURL=app.css.map */
