html {
  font-size:100%; // please
}

body {
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:1.2em;
}

section[role="main"] {
  @include clearfix;
  background:#F9FAFA;
  padding:2em 0;
}


h1[id]:before, 
h2[id]:before, 
h3[id]:before, 
h4[id]:before, 
h5[id]:before, 
h6[id]:before {
  content: "";
  display: block;
  margin-top: -100px;
  height: 100px;
  pointer-events: none;
}