h1, h2 {
  color: #999999; }

h3 {
  color: #6B93BA; }

.vertical-align {
  display: flex;
  align-items: center; }

.navbar-default {
  background: #72A6B2;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
  /* for IE */
  background: -webkit-gradient(linear, left top, right top, from(#72A6B2), to(#1F779F));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #ccc, #000);
  /* for firefox 3.6+ */ }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 1px solid white;
    background-color: transparent; }
  .navbar-default .navbar-nav.main-links a:hover, .navbar-default .navbar-nav.main-links a:focus, .navbar-default .navbar-nav.navbar-right a:hover, .navbar-default .navbar-nav.navbar-right a:focus {
    background-color: transparent; }

.navbar-header .brand {
  padding: 13px 15px;
  line-height: 0;
  margin-left: 0; }
  .navbar-header .brand .logo {
    background: transparent url("../img/dcron-logo-white.png") 0 0 no-repeat;
    display: block;
    width: 179px;
    height: 59px; }

.navbar-nav li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 4px;
  height: 23px;
  padding-right: 15px; }
.navbar-nav li > a {
  line-height: 62px; }

#jumbotron-mask {
  height: 450px;
  margin-top: -93px;
  background: #72A6B2;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
  /* for IE */
  background: -webkit-gradient(linear, left top, right top, from(#72A6B2), to(#1F779F));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #ccc, #000);
  /* for firefox 3.6+ */ }
  #jumbotron-mask h2 {
    color: #FFF; }

#jumbotron .container h2 {
  margin-top: 175px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1px;
  margin-left: 40px; }
#jumbotron .container .jumbo-logo-wrap {
  margin-top: 135px; }
#jumbotron .container .jumbo-logo {
  width: 318px;
  height: 316px;
  background: transparent url("../img/dcron-jumbo-logo-white.png") 60px 50px no-repeat;
  /* background-size: 318px 316px; */
  z-index: 20; }

.page-home {
  background: #F9FAFA; }
  .page-home .jumbotron.intro {
    color: #6B93BA; }

body > div.container {
  margin-top: 17px; }

.toc .bs-sidebar {
  top: 100px; }

#use-cases-mask {
  color: #FFF;
  height: 400px;
  background: #72A6B2;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
  /* for IE */
  background: -webkit-gradient(linear, left top, right top, from(#72A6B2), to(#1F779F));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #ccc, #000);
  /* for firefox 3.6+ */ }

footer {
  color: #999999;
  font-size: 0.8em; }
  footer > h2 {
    color: #FFF; }
  footer .footer-logo {
    margin-bottom: 25px; }

#easy-integration, #flexible-targets, #always-available {
  margin: 40px 0; }

/*# sourceMappingURL=custom.css.map */
