footer[role="contentinfo"] {
  font-size:.6em;
  font-weight:bold;
  text-transform: uppercase;
  color:$color-base-dark;
  padding-bottom:2em;

  .footer-logo {
    margin:2em auto;
    text-align: center;
  }

  p {
    margin:0;
    text-align: center;
  }

}

.navbar-fixed-bottom {
  background-color: #333;
}
