@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300);

h1, h2, h3, h4, h5, h6 {
  margin-bottom:1em;
}

.status-success {
  color: #2cbe4e;
}

.status-danger {
  color: #cb2431;
}

.status-running {
  color: #20a5a8;
}

.status-warning {
  color: #dbab09;
}

.status-disabled {
  color: #777;
}

ul.status {
  li {
    strong {
      font-size: 1.5em;
      color: #9d9d9d;
    }
  }
}
