    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collapsed navigation -->
            <div class="navbar-header">
                <!-- Expander button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Main title -->
                <div class="brand">
                    <a class="logo" href="{{ homepage_url }}">Dkron</a>
                </div>
            </div>

            <!-- Expanded navigation -->
            <div class="navbar-collapse collapse">
                <!-- Main navigation -->
                <ul class="main-links nav navbar-nav">
                {% for nav_item in nav %}
                {% if nav_item.children %}
                    <li class="dropdown{% if nav_item.active %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% for nav_item in nav_item.children %}
                            <li {% if nav_item.active %}class="active"{% endif %}>
                                <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li {% if nav_item.active %}class="active"{% endif %}>
                        <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>

                <!-- Search, Navigation and Repo links -->
                <ul class="nav navbar-nav navbar-right">

                    {% if current_page.abs_url != '/' %}

                    <li {% if not previous_page %}class="disabled"{% endif %}>
                        <a rel="next" {% if previous_page %}href="{{ previous_page.url }}"{% endif %}>
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li {% if not next_page %}class="disabled"{% endif %}>
                        <a rel="prev" {% if next_page %}href="{{ next_page.url }}"{% endif %}>
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>

                    {% endif %}

                    <li>
                        <a href="https://twitter.com/dkronio">
                          <i class="fa fa-twitter fa-lg"></i>
                          Follow
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/victorcoder/dkron/releases">
                          <i class="fa fa-cloud-download fa-lg"></i>
                          Download
                        </a>
                    </li>

                    {% if repo_url %}
                    <li>
                        <a href="{{ repo_url }}">
                            <i class="fa fa-github fa-lg"></i>
                            {{ repo_name }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
