<!DOCTYPE html>
<html ng-app="dkron">

<head>
  <title>{{ .Common.Name }}</title>
  <script src="{{ .Common.AssetsPath }}/js/angular.min.js"></script>
  <script src="{{ .Common.AssetsPath }}/js/angular-route.min.js"></script>

  <script src="{{ .Common.AssetsPath }}/js/dashboard.js"></script>
  <link rel="stylesheet" href="{{ .Common.AssetsPath }}/css/glyphicon-spinner.css">

  <script src="{{ .Common.AssetsPath }}/js/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ .Common.AssetsPath }}/css/bootstrap.min.css">
  <script src="{{ .Common.AssetsPath }}/js/bootstrap.min.js"></script>

  <script src="{{ .Common.AssetsPath }}/js/bootstrap-notify.min.js"></script>
  <link rel="stylesheet" href="{{ .Common.AssetsPath }}/css/animate.min.css">

  <link rel="stylesheet" href="{{ .Common.AssetsPath }}/css/app.css">

  <script src="{{ .Common.AssetsPath }}/js/d3.min.js"></script>
  <link rel="stylesheet" href="{{ .Common.AssetsPath }}/rickshaw/rickshaw.min.css">
  <script src="{{ .Common.AssetsPath }}/rickshaw/rickshaw.min.js"></script>
  <script src="{{ .Common.AssetsPath }}/angular-rickshaw/rickshaw.js"></script>

  <link rel="stylesheet" href="{{ .Common.AssetsPath }}/codemirror/lib/codemirror.css">
  <script src="{{ .Common.AssetsPath }}/codemirror/lib/codemirror.js"></script>
  <script src="{{ .Common.AssetsPath }}/codemirror/mode/javascript/javascript.js"></script>
  <script src="{{ .Common.AssetsPath }}/codemirror/addon/display/autorefresh.js"></script>
  <script src="{{ .Common.AssetsPath }}/js/ui-codemirror.js"></script>

  <link rel="shortcut icon" href="{{ .Common.AssetsPath }}/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ .Common.AssetsPath }}/favicon.ico" type="image/x-icon">

  <script>
    var DKRON_API_PATH = "{{ .Common.APIPath }}";
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Collapsed navigation -->
      <div class="navbar-header">
        <!-- Expander button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Main title -->
        <div class="brand">
          <a class="logo" href="{{ .Common.Path }}"><img src="{{ .Common.AssetsPath }}/img/dkron-logo.png" /></a>
        </div>
      </div>

      <!-- Expanded navigation -->
      <div class="navbar-collapse collapse">
        <!-- Main navigation -->
        <ul class="main-links nav navbar-nav">
          <li>
            <a href="{{ .Common.Path }}">
              <i class="glyphicon glyphicon-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="{{ .Common.Path }}/jobs">
              <i class="glyphicon glyphicon-tasks"></i>
              Jobs
            </a>
          </li>
          <li>
            <a href="{{ .Common.Path }}/busy">
              <i class="glyphicon glyphicon-play-circle"></i>
              Busy
            </a>
          </li>
        </ul>
        <!-- Search, Navigation and Repo links -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://dkron.io" target="_blank">
              <i class="glyphicon glyphicon-book"></i>
              Docs
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{template "content" .}}
  <div class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner">
      <div class="container text-center">
        <ul class="nav">
          <li>
            <p class="navbar-text">{{ .Common.Name }} {{ .Common.Version }}</p>
          </li>
          <li>
            <p class="navbar-text">Member: {{ .Common.MemberName }}</p>
          </li>
          <li>
            <p class="navbar-text">Leader: {{ .Common.LeaderName }}</p>
          </li>
          <li>
              <p class="navbar-text">Time: {{ .Common.Time }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
