<!DOCTYPE html>
<html>
  <head>
    <title>Blank</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/themes/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/project/css/dashboard.css">

    <script src="/jquery/jquery-2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Blank</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ .CurrentUser.Email }} <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#user-settings-modal">User Settings</a></li>

                <li class="divider"></li>

                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- User Settings Modal -->
    <div class="modal fade" id="user-settings-modal" tabindex="-1" role="dialog" aria-labelledby="user-settings-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="user-settings-label">User Settings</h4>
          </div>

          <form method="post" action="/users/{{ .CurrentUser.ID }}">

            <div class="modal-body">
              <input type="hidden" name="_method" value="put">

              <div class="form-group">
                <label class="control-label" for="email">Email:</label>
                <input type="text" name="Email" id="email" class="form-control" value="{{ .CurrentUser.Email }}">
              </div>

              <div class="form-group">
                <label class="control-label" for="password">New Password:</label>
                <input type="password" name="Password" id="password" class="form-control">
              </div>

              <div class="form-group">
                <label class="control-label" for="password-again">New Password Again:</label>
                <input type="password" name="PasswordAgain" id="password-again" class="form-control">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" onclick="$(this).closest('form').submit()">Save changes</button>
            </div>

          </form>

        </div>
      </div>
    </div>
    {{template "content" .}}
  </body>
</html>
