{{define "content"}}
<div class="container">
  <div class="row">
    <h1>Executions</h1>
    <h2>Showing Last 30 Job executions for job {{.JobName}}</h2>
  </div>

  <table class="table table-striped">
	<tr>
	  <th>Job</th>
	  <th>Started At</th>
	  <th>Finished At</th>
	  <th>Node</th>
	  <th>Output</th>
	  <th>Success</th>
	</tr>
        {{ range $ex := .Executions }}
        <tr>
	  <td>{{ $ex.JobName }}</td>
	  <td>{{ $ex.StartedAt }}</td>
	  <td>{{ $ex.FinishedAt }}</td>
	  <td>{{ $ex.NodeName }}</td>
	  <td>{{ html $ex.Output }}</td>
	  <td>{{ $ex.Success }}</td>
	</tr>
	{{ end }}
      </table>
</div>
{{end}}
