{{define "content"}}
<div class="container content" ng-controller="ExecutionsCtrl">
  <div class="row">
    <div id="message"></div>
  </div>
  <div class="row">
    <h1>Executions</h1>
    <h2>Showing Last {{.Count}} executions for job {{.JobName}}
      <a href="#" ng-click="runJob('{{.JobName}}')" ng-show="!running_job" title="Run"><i class="glyphicon glyphicon-play"
          aria-hidden="true"></i></a>
      <a href="#"><i class="glyphicon glyphicon-cog normal-right-spinner" ng-show="running_job"></i></a>
    </h2>
  </div>

  {{range $gk := .ByGroup}}
  <h4>Execution Group: {{$gk}} ({{len (index $.Groups $gk)}})</h4>
  <table class="table table-striped">
    <tr>
      <th>Job</th>
      <th>Started At</th>
      <th>Finished At</th>
      <th>Node</th>
      <th>Output</th>
      <th>Success</th>
    </tr>
    {{range $ek, $ex := (index $.Groups $gk)}}
    <tr>
      <td>{{$ex.JobName}}</td>
      <td>{{$ex.StartedAt}}</td>
      <td>{{$ex.FinishedAt}}</td>
      <td>{{$ex.NodeName}}</td>
      <td>
        <a href="#{{ $ex.JobName }}-{{ $gk }}-{{ $ek }}-modal" data-toggle="modal" data-target="#{{ $ex.JobName }}-{{ $gk }}-{{ $ek }}-modal">
          {{$ex.Output | truncate}}...</a>
      </td>
      <td>{{$ex.Success}}</td>
    </tr>

    <!-- Modal -->
    <div class="modal fade" id="{{ $ex.JobName }}-{{ $gk }}-{{ $ek }}-modal" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">View output for {{$ex.JobName}}</h4>
          </div>
          <div class="modal-body">
            <pre>{{$ex.Output}}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{end}}
  </table>
  {{end}}
</div>
<script>
  $(document).ready(function () {
    if (window.location.hash && $(window.location.hash).length) {
      $(window.location.hash).modal('show');
    }
    $('.modal').on('show.bs.modal', function (e) {
      if (typeof (e.relatedTarget) != "undefined") {
        window.location.hash = $(e.relatedTarget).attr('href');
      }
    });
    $(document).on('hidden.bs.modal', function (e) {
      history.pushState("", document.title, window.location.pathname + window.location.search);
    });
  });
</script>
{{end}}
