{{define "content"}}
<div class="container content">
  <div class="row">
    <h1>Executions</h1>
    <h2>Showing Last 100 Job executions for job {{.JobName}}</h2>
  </div>

  {{ range $key, $group := .Groups }}
  <h4>Execution: {{ $key }}</h4>
  <table class="table table-striped">
    <tr>
      <th>Job</th>
      <th>Started At</th>
      <th>Finished At</th>
      <th>Node</th>
      <th>Output</th>
      <th>Success</th>
    </tr>
    {{ range $exKey, $ex := $group }}
    <tr>
      <td>{{ $ex.JobName }}</td>
      <td>{{ $ex.StartedAt }}</td>
      <td>{{ $ex.FinishedAt }}</td>
      <td>{{ $ex.NodeName }}</td>
      <td>
        <a href="#" data-toggle="modal" data-target="#{{ $ex.JobName }}-{{ $key }}-{{ $exKey }}-modal">{{ $ex.Output | html | truncate }}...</a>
      </td>
      <td>{{ $ex.Success }}</td>
    </tr>

    <!-- Modal -->
    <div class="modal fade" id="{{ $ex.JobName }}-{{ $key }}-{{ $exKey }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">View output for {{ $ex.JobName }}</h4>
          </div>
          <div class="modal-body">
            <pre>{{ $ex.Output | html }}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </table>
  {{ end }}
</div>
{{end}}
