{{define "content"}}
<div class="container">
  <div class="row">
<rickshaw
    rickshaw-options="options"
    rickshaw-features="features"
    rickshaw-series="series">
</rickshaw>
  </div>
</div>
{{end}}
