{{define "content"}}
<div class="container content" ng-controller="IndexCtrl">
  {{template "status" .}}
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Live</h3>
      </div>
      <div class="panel-body">
        <rickshaw rickshaw-options="options" rickshaw-features="features" rickshaw-series="series"></rickshaw>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Nodes</h2>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Port</th>
        <th>Status</th>
        <th>Tags</th>
      </tr>
      <tr ng-repeat="member in members | orderBy:'Name'">
        <td ng-bind="member.Name"></td>
        <td ng-bind="member.Addr"></td>
        <td ng-bind="member.Port"></td>
        <td ng-bind="member.Status"></td>
        <td>
          <div ng-repeat="(key, value) in member.Tags">
            <span ng-bind="key + ': '"></span><span ng-bind="value"></span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
{{end}}
