{{define "content"}}
<div class="container content" ng-controller="JobListCtrl">
  {{template "status" .}}
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Job</th>
        <th>Success count</th>
        <th>Error count</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      {{ range $job := .Jobs }}
      <tr>

        <td><a href="jobs/{{$job.Name}}/executions">{{ $job.Name }}</a></td>
        <td>{{ $job.SuccessCount }}</td>
        <td>{{ $job.ErrorCount }}</td>
        <td>
          {{if $job.Disabled }}
            <i class="fa fa-circle text-muted"></i>
          {{ else }}
            <i class="fa fa-circle text-{{ executionStatus $job }}"></i>
          {{end}}
        </td>
        <td>
          <button data-toggle="modal" data-target="#{{ $job.Name }}-modal">View</button>
          <button ng-click="click('{{ $job.Name }}')">Run</button>
        </td>
      </tr>

      <!-- Modal -->
      <div class="modal fade" id="{{ $job.Name }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">View {{ $job.Name }}</h4>
            </div>
            <div class="modal-body">
              <pre>{{ $job | jobJson }}</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </table>
  </div>
</div>
{{end}}
