{{define "content"}}
<div class="container content" ng-controller="JobListCtrl">
  {{template "status" .}}
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Job</th>
        <th>Success count</th>
        <th>Error count</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      {{ range $i, $job := .Jobs }}
      <tr>

        <td><a href="jobs/{{$job.Name}}/executions">{{ $job.Name }}</a></td>
        <td>{{ $job.SuccessCount }}</td>
        <td>{{ $job.ErrorCount }}</td>
        <td>
          {{if $job.Disabled }}
            <i class="fa fa-circle text-muted"></i>
          {{ else }}
            <i class="fa fa-circle text-{{ executionStatus $job }}"></i>
          {{end}}
        </td>
        <td>
          <a href="#" data-toggle="modal" data-target="#{{ $i }}-modal" title="View"><i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
          &nbsp;
          <a href="#" ng-click="runJob('{{ $job.Name }}')" ng-show="!running_{{ $i }}" title="Run"><i class="fa fa-cogs fa-1x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-cog fa-spin fa-1x fa-fw" ng-show="running_{{ $i }}"></i></a>
          &nbsp;
          <a href="#" data-toggle="modal" data-target="#{{ $i }}-modal-delete" ng-show="!deleting_{{ $i }}" title="Delete"><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-spinner fa-spin fa-1x fa-fw" ng-show="deleting_{{ $i }}"></i></a>
        </td>
      </tr>

      <!-- Modal Delete -->
      <div class="modal fade" id="{{ $i }}-modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Are you sure?
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" ng-click="deleteJob('{{ $job.Name }}')" value="Delete" data-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="{{ $i }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">View {{ $job.Name }}</h4>
            </div>
            <div class="modal-body">
              <pre><code class="hljs json">{{ $job | jobJson }}</code></pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </table>
  </div>
</div>
{{end}}
