{{define "status"}}
<div class="row">
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <p><strong>Warning!</strong> Dkron is currentyl in Alpha status and it's not guaranteed to work as expected. More info in <a href="http://dkron.io" class="alert-link">dcron.io</a></p>
  </div>
  <div id="message"></div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body status-panel">
      <ul class="list-inline">
        <li class="text-center col-md-2">
          <span ng-bind="jobs.length"></span>
          <p>Total Jobs
        </li>
        <li class="text-center col-md-2">
          <span ng-bind="successful_jobs"></span>
          <p>Successful Jobs
        </li>
        <li class="text-center col-md-2">
          <span ng-bind="failed_jobs"></span>
          <p>Failed Jobs
        </li>
        <li class="text-center col-md-2">
          <span ng-bind="success_count"></span>
          <p>Successful Executions
        </li>
        <li class="text-center col-md-2">
          <span ng-bind="error_count"></span>
          <p>Failed Executions
        </li>
      </ul>
    </div>
  </div>
</div>
{{end}}
