{{define "status"}}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      Basic panel
    </div>
  </div>
</div>
<div class="row">
  <div class="alert alert-warning">
    <h4>Warning!</h4>
    <p>Dcron is currentyl in Alpha status and it's not guaranteed to work as expected. More info in <a href="http://dcron.io" class="alert-link">dcron.io</a></p>
  </div>
</div>
{{end}}
