{{define "status"}}
<div class="row">
  <div id="message"></div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body status-panel">
      <ul class="list-inline status">
        <li class="text-center col-md-2">
          <strong ng-bind="jobs.length"></strong>
          <p><small>Total Jobs</small>
        </li>
        <li class="text-center col-md-2">
          <strong><a href="jobs#?filter=success" ng-click="filter('success')" ng-bind="successful_jobs"></a></strong>
          <p><small class="status-success">Successful Jobs</small>
        </li>
        <li class="text-center col-md-2">
          <strong><a href="jobs#?filter=failed" ng-click="filter('failed')" ng-bind="failed_jobs"></a></strong>
          <p><small class="status-danger">Failed Jobs</small>
        </li>
        <li class="text-center col-md-2">
          <strong ng-bind="success_count"></strong>
          <p><small>Successful Executions</small>
        </li>
        <li class="text-center col-md-2">
          <strong ng-bind="error_count"></strong>
          <p><small>Failed Executions</small>
        </li>
      </ul>
    </div>
  </div>
</div>
{{end}}
