@mixin gradient-dkron {
  background: #fd505d; /* Old browsers */
  // background: -moz-linear-gradiyent(left, #72A6B2 0%, #1F779F 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, right top, color-stop(0%,#72A6B2), color-stop(100%,#1F779F)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(left, #72A6B2 0%, #1F779F 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(left, #72A6B2 0%, #1F779F 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(left, #72A6B2 0%, #1F779F 100%); /* IE10+ */
  background: linear-gradient(to top right, #fd505d 0%, #9c43fc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90a6b2', endColorstr='#6ca4b2',GradientType=1 ); /* IE6-9 */

  // background: -webkit-gradient(linear, left top, right top, from(#72A6B2), to(#1F779F));
}

@mixin button($color,$background) {
  display:inline-block;
  color:$color;
  border-radius:6px;
  border:1px solid $color;
  background:$background;
  padding:.7em 1.2em;

  transition:all .2s;

  &:hover {
    text-decoration:none;
    color:$color;
    opacity:.7;
  }

}
