
/** Font vars **/
$font-headlines:'Montserrat', 'Open-Sans', Sans-serif;


$color-base:#72A6B2;
$color-base-dark:#347FA0;
$color-base-light:#6B93BA;
$color-light:#9B999E;
$nav-dark:#333;

/* Boostrap shitty breakpoints */
$viewport-xlarge: 1200px;
$viewport-large: 992px; // ?? WTF
$viewport-medium: 768px;
