
/** Font vars **/
$font-headlines:'Montserrat', 'Open-Sans', Sans-serif;


$color-base:#000000;
$color-base-dark:#540b63;
$color-base-light:#000000;
$color-light:#737374;
$nav-dark:#333;
$color-link: #fc505e;

/* Boostrap shitty breakpoints */
$viewport-xlarge: 1200px;
$viewport-large: 992px; // ?? WTF
$viewport-medium: 768px;
