{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall well">
        <h1 class="text-center">Blank</h1>
        <h4 class="text-center">create an account</h4>

        <form class="form-signup-login form-signup" method="post" action="/signup">
          <input name="Email" type="text" class="form-control" placeholder="Email" required autofocus>
          <input name="Password" type="password" class="form-control password" placeholder="Password" required>
          <input name="PasswordAgain" type="password" class="form-control password-again" placeholder="Password Again" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

          <a href="/login" class="other-form text-center">I have account already</a>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}