#jumbotron-mask {

  margin-top:-20px;

  h2 {
    color: #FFF;
  }

  #jumbotron {
    .container {
      padding-top:4em;
      padding-bottom:2em;
      transition:all .2s;

      .text-wrapper {
        text-align:center;

        a {
          margin:2em .5em 0 .5em;
          font-size:.8em;
          font-weight: bold;
          text-transform:uppercase;
          font-family: $font-headlines;
        }
      }

      h2 {
        text-align: center;
      }

      .dkron-logo {
        display:none;
      }
    }
  }

  background: $color-base;
  @include gradient-dkron;
}


@media (min-width:$viewport-large) {

  #jumbotron-mask {

    #jumbotron {
      .container {
        padding-bottom:5em;

        .text-wrapper {
          //@include span(6 of 12);
          //@include push(1 of 12);
          text-align: left;

          h2 {
            text-align:left;
            line-height:1.2em;
            font-size:2em
          }
        }

        .dkron-logo {
          margin-top:1.7em;
          display:block;
          height:200px;
          //@include span(1 of 6);
          //@include push(1 of 12);
          img {
            width:auto;
            height:200px;;
          }
        }

      }
    }
  }


}
