<div id="users-mask">
    <div class="container">
        <h2>Some of our users</h2>
        <div class="row">
            <div class="col-md-3 users">
                <a href="http://mallgroup.com/" target="_blank">
                    <img width="150" src="{{"img/mallgroup-logo.svg" | relURL}}" />
                </a>
            </div>
            <div class="col-md-3 users">
                <a href="http://rubiconproject.com/" target="_blank">
                    <img width="150" src="{{"img/rubicon-logo.svg" | relURL}}" />
                </a>
            </div>
            <div class="col-md-3 users">
                <a href="https://www.jobandtalent.com" target="_blank">
                    <img width="150" src="{{"img/jt-logo.png" | relURL}}" />
                </a>
            </div>
            <div class="col-md-3 users">
                <a href="https://linkfluence.com/" target="_blank">
                    <img width="150" src="{{"img/logo_linkfluence.png" | relURL}}" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 users">
                <a href="https://www.voiceworks.com/en" target="_blank">
                    <img width="150" src="{{"img/voiceworks-logo.png" | relURL}}" />
                </a>
            </div>
            <div class="col-md-3 users">
                <a href="https://www.benemen.com/en/" target="_blank">
                    <img width="150" src="{{"img/benemen-logo.png" | relURL}}" />
                </a>
            </div>
            <div class="col-md-3 users">
                <a href="https://www.flywire.com/" target="_blank">
                    <img width="150" src="{{"img/flywire-logo.svg" | relURL}}" />
                </a>
            </div>  
        </div>
    </div>
    <div class="container">
        Partners<br><br>
        <div class="col-md-12 sponsor">
            <a href="http://packet.net/" target="_blank">
                <img width="100" src="https://assets.packet.net/assets/images/logo-white-sm.png" />
            </a>
            &nbsp;
            <a href="https://gemfury.com/f/partner">
                <img src="//badge.fury.io/fp/gemfury.svg" alt="Private Repository">
            </a>
        </div>
    </div>
</div>
<footer class="col-md-12" role="contentinfo">
    <hr>

    <p><a href="http://www.distrib.works/">Distributed Works</a> © 2015 - {{ dateFormat "2006" now }} Victor Castell</p>

    <p>Web design by <a href="http://www.collagestudio.es/">Collage Studio</a>.</p>
</footer>

<script src="{{"/js/jquery-2.x.min.js" | relURL}}"></script>
<script src="{{"js/bootstrap-3.0.3.min.js" | relURL}}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#252e39"
                },
                "button": {
                    "background": "#14a7d0"
                }
            }
        })
    });
</script>
</body>

</html>
