    <div id="users-mask">
      <div class="container">
          <h2>Some of our users</h2>
          <div class="col-md-4 users">
              <a href="http://mallgroup.com/" target="_blank">
                  <img width="200" src="{{"img/mallgroup-logo.svg" | relURL}}" />
              </a>
          </div>
          <div class="col-md-4 users">
              <a href="https://www.jobandtalent.com" target="_blank">
                  <img width="200" src="{{"img/jt-logo.png" | relURL}}" />
              </a>
          </div>
          <div class="col-md-4 users">
              <a href="http://rubiconproject.com/" target="_blank">
                  <img width="200" src="{{"img/rubicon-logo.svg" | relURL}}"/>
              </a>
          </div>
      </div>
      <div class="container">
          <div class="col-md-12 sponsor">
              Dkron testing infrastructure provided by:
              <a href="http://packet.net/" target="_blank">
                  <img width="100" src="https://assets.packet.net/company/logo.svg" />
              </a>
          </div>
      </div>
    </div>
    <footer class="col-md-12" role="contentinfo">
      <hr>
      
          <p><a href="http://www.distrib.works/">Distributed Works</a> © 2015 Victor Castell - victor@distrib.works</p>
      
      <p>Web design by <a href="http://www.collagestudio.es/">Collage Studio</a>.</p>
    </footer>

    <script src="{{"/js/jquery-2.x.min.js" | relURL}}"></script>
    <script src="{{"js/bootstrap-3.0.3.min.js" | relURL}}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
